name: Trigger auto deployment for cswarnacontainer1

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/cswarnacontainer1-AutoDeployTrigger-997e0e9c-db6f-4fdd-8150-41a5b6ac19a1.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.CSWARNACONTAINER1_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.CSWARNACONTAINER1_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.CSWARNACONTAINER1_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: 
          registryUsername: ${{ secrets.CSWARNACONTAINER1_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.CSWARNACONTAINER1_REGISTRY_PASSWORD }}
          containerAppName: cswarnacontainer1
          resourceGroup: swarnaRG
          imageToBuild: default/[parameters('containerAppName')]:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


